﻿@model ControlWork1.Models.StudentWithCourses

@{
    ViewData["Title"] = "Details";
}

<h1>Student</h1>
<div>
    <span>@Model.Student.FirstName</span>
    <span>@Model.Student.LastName</span>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            <i>Id</i>
        </th>
        <th>
            <i>Название курса</i>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Courses) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    </tbody>
</table>

<form asp-action="AddToCourse">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <div class="form-group">
            <div class="form-group">
                <label asp-for="BaseCourses" class="control-label"></label>
                <select class="form-control"
                        asp-for="BaseCourses"
                        asp-items="@(new SelectList(Model.BaseCourses,"Id","Name" ))" name="courseId">
                </select>
                <span asp-validation-for="BaseCourses" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input asp-for="@Model.Student.Id" name="studentId" type="hidden" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Записать на курс" class="btn btn-primary" />
    </div>
</form>

<form asp-action="RemoveFromCourse">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <div class="form-group">
            <div class="form-group">
                <label asp-for="Courses" class="control-label"></label>
                <select class="form-control"
                        asp-for="Courses"
                        asp-items="@(new SelectList(Model.Courses.Select(x => new KeyValuePair<string, string>(x.CourseId.ToString(), x.Course.Name)), "Key", "Value"))" name="courseId"></select>
                <span asp-validation-for="Courses" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input asp-for="@Model.Student.Id" name="studentId" type="hidden" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Удалить с курса" class="btn btn-primary" />
    </div>
</form>

