﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><a asp-controller="Course">Курсы</a></h1>
    <h1 class="display-4"><a asp-controller="Student">Студенты</a></h1>
</div>
